@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background: rgb(226,133,244);
  background: linear-gradient(45deg, rgb(255, 238, 82) 0%, rgb(216, 136, 83) 100%);
}

.start {
  display: flex;
  width: 100%;
  height: 20vh;
  margin-top: 20vh;

  justify-content: center;
  align-items: center;
}

.instruction {
  font-size: 6rem;
  font-weight: 100;
  display: flex;

  border: 1px solid black;
  border-radius: 100px;
  padding: 0 5% 0 5%;
}

.header_picture {
  margin-left: 45%;
  position: absolute;
  opacity: 0;
  width: 45%;

  z-index: 1000;
}

.name_bar {
  display: grid;
  grid-template: 1fr 1fr / 4% 4% 40% 40%;
  width: 100%;
  height: 20vh;
  margin-left: 10%;
  margin-top: 25vh;

  .logo {
    opacity: 0;

    grid-area: 1 / 1 / 1 / 1;
    width: 100%;
    justify-self: center;
    align-self: center;
  }

  h1 {
    opacity: 0;


    grid-area: 1 / 3 / 1 / 5;
    font-size: 5rem;
    font-weight: 500;
  }

  h2 {
    opacity: 0;

    font-size: 1.25rem;
    font-weight: 400;
    background: black;
    color: white;
    margin-left: 3%;
    height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    padding: 0 2% 0 2%;
    border-radius: 100px;

    &:first-child {
      margin-left: 0;
      background: rgba(255, 255, 255, 0);
      color: black;
    }
  }


  .box {
    display: flex;
    flex-direction: row;
    grid-area: 2 / 3 / 3 / 4;

    height: 1.5rem;
    width: 100%;
  }
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr / 1fr;
  width: 40%;
  margin-left: 10%;
  margin-top: 10vh;

  h1 {
    opacity: 0;
    grid-area: 1 / 1 / 2 / 1 ;
    font-weight: 400;
    font-size: 4rem;
  }
}

.text {
  grid-area: 2 / 1 / 3 / 1 ;
  font-size: 1.25rem;
  margin-top: 4vh;
  width: 80%;
  opacity: 0;
}

.actual_work {
  opacity: 0;
  grid-area: 3 / 1 / 4 / 1 ;
  height: 3vh;
  width: 30%;
  border: 1px solid black;
  background: none;
  border-radius: 100px;
  margin-top: 5vh;
  padding: 0 2% 0 2%;

  &:active {
    background: rgb(72, 37, 197);
    border: 0;
    color: yellow;
  }

  &--white {
    color: white;
    border: 1px solid white;
  }
}

.projekty {
  display: grid;
  grid-template: 1fr / 10% 40% 1fr 10%;
  background: rgb(38, 32, 59);

  padding-top: 10%;
  padding-bottom: 10%;
  margin-top: 20vh;

  color: white;


  .info {
    grid-area: 1 / 2 / 1 / 3;
    margin: 0;
    width: 100%;
  }
}

.mosaic {
  grid-area: 1 / 3 / 1 / 4;
  width: 90%;

  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr)  ;

}
.mosaic_item {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.big_title {
  font-size: 15rem;
  font-weight: 400;
  margin-left: 10%;
  margin-top: 10vh;
}

.examples {
  display: grid;
  width: 80%;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 2vh;
  margin-left: 10%;

}

.examples_item {
  border-radius: 10px;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10vh;
  width: 100%;
  height: 10vh;
  background: rgb(38, 32, 59);
  color: rgb(133, 100, 194);
}

.footer_info {
  margin-left: 10%;
}












// SCROLLBAR

body::-webkit-scrollbar {
  width: 0.9rem;
}
 
body::-webkit-scrollbar-track {
  background: rgb(216, 136, 83);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(250, 215, 60);
  border-radius: 100px;
  padding: 10%;
  border: 0.2rem solid rgb(216, 136, 83);
}
