@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  background: #e285f4;
  background: linear-gradient(45deg, #ffee52 0%, #d88853 100%);
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20vh;
  margin-top: 20vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instruction {
  font-size: 6rem;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  border-radius: 100px;
  padding: 0 5% 0 5%;
}

.header_picture {
  margin-left: 45%;
  position: absolute;
  opacity: 0;
  width: 45%;
  z-index: 1000;
}

.name_bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 4% 4% 40% 40%;
      grid-template: 1fr 1fr / 4% 4% 40% 40%;
  width: 100%;
  height: 20vh;
  margin-left: 10%;
  margin-top: 25vh;
}

.name_bar .logo {
  opacity: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.name_bar h1 {
  opacity: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 1 / 5;
  font-size: 5rem;
  font-weight: 500;
}

.name_bar h2 {
  opacity: 0;
  font-size: 1.25rem;
  font-weight: 400;
  background: black;
  color: white;
  margin-left: 3%;
  height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  padding: 0 2% 0 2%;
  border-radius: 100px;
}

.name_bar h2:first-child {
  margin-left: 0;
  background: rgba(255, 255, 255, 0);
  color: black;
}

.name_bar .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
  height: 1.5rem;
  width: 100%;
}

.info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr / 1fr;
      grid-template-columns: 1fr 1fr 1fr / 1fr;
  width: 40%;
  margin-left: 10%;
  margin-top: 10vh;
}

.info h1 {
  opacity: 0;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 2 / 1;
  font-weight: 400;
  font-size: 4rem;
}

.text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  grid-area: 2 / 1 / 3 / 1;
  font-size: 1.25rem;
  margin-top: 4vh;
  width: 80%;
  opacity: 0;
}

.actual_work {
  opacity: 0;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  grid-area: 3 / 1 / 4 / 1;
  height: 3vh;
  width: 30%;
  border: 1px solid black;
  background: none;
  border-radius: 100px;
  margin-top: 5vh;
  padding: 0 2% 0 2%;
}

.actual_work:active {
  background: #4825c5;
  border: 0;
  color: yellow;
}

.actual_work--white {
  color: white;
  border: 1px solid white;
}

.actual_work--low {
  margin-top: 2vh;
}

.projekty {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 10% 40% 1fr 10%;
      grid-template: 1fr / 10% 40% 1fr 10%;
  background: #350042;
  background: linear-gradient(45deg, #350042 0%, #1e0637 100%);
  padding-top: 10%;
  padding-bottom: 10%;
  margin-top: 20vh;
  color: white;
}

.projekty .info {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 1 / 3;
  margin: 0;
  width: 100%;
}

.mosaic {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 1 / 4;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mosaic_item {
  width: 100%;
  border-radius: 5px;
  -o-object-fit: contain;
     object-fit: contain;
}

.big_title {
  font-size: 14rem;
  font-weight: 400;
  margin-left: 10%;
  margin-top: 10vh;
}

.examples {
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 2vh;
  margin-left: 10%;
}

.examples_item {
  border-radius: 10px;
  width: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10vh;
  width: 100%;
  height: 10vh;
  background: #26203b;
  color: #8564c2;
}

.footer_info {
  margin-left: 10%;
}

.kontakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
  margin-top: 3vh;
}

.kontakt h1 {
  font-size: 4rem;
  font-weight: 400;
}

.kontakt .kontakt_text {
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kontakt #mail {
  cursor: pointer;
}

.kontakt .mail {
  margin-left: 2%;
  border: 1px solid black;
  padding: 0% 5% 0% 5%;
  border-radius: 100px;
}

body::-webkit-scrollbar {
  width: 0.9rem;
}

body::-webkit-scrollbar-track {
  background: #d88853;
}

body::-webkit-scrollbar-thumb {
  background-color: #fad73c;
  border-radius: 100px;
  padding: 10%;
  border: 0.2rem solid #d88853;
}
/*# sourceMappingURL=desk.css.map */