@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
}

html {
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  background: #e285f4;
  background: #e8e9de;
}

a {
  text-decoration: none;
  color: black;
}

.start {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 15vh;
  margin-top: 20vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instruction {
  overflow-x: hidden;
  font-size: 2.25rem;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  border-radius: 0px;
  padding: 1.25% 7% 1.25% 7%;
}

.header_picture {
  margin-left: 55%;
  position: absolute;
  opacity: 0;
  width: 35%;
  z-index: 1000;
}

.bg_head {
  z-index: 999;
  margin-left: 39%;
  margin-top: -15vh;
  width: 60%;
  position: absolute;
  opacity: 0;
}

.name_bar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr / 1fr 1fr;
  width: 100%;
  height: 20vh;
  margin-top: 30vh;
  margin-left: 10%;
}

.name_bar h1 {
  opacity: 0;
  line-height: 0.9;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
  font-size: 6rem;
  font-weight: 500;
}

.name_bar h2 {
  opacity: 0;
  font-size: 1.25rem;
  font-weight: 400;
  background: black;
  color: white;
  margin-left: 1%;
  height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  padding: 0 3% 0 3%;
  border-radius: 0;
}

.name_bar h2:first-child {
  margin-left: 0;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0);
  color: black;
}

.name_bar .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  grid-area: 2 / 1 / 3 / 1;
  height: 1.5rem;
  width: 100%;
}

.info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr / 1fr;
      grid-template-columns: 1fr 1fr 1fr / 1fr;
  width: 40%;
  margin-left: 10%;
  margin-top: 25vh;
}

.info h1 {
  opacity: 0;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 2 / 1;
  font-weight: 500;
  font-size: 3.5rem;
}

.text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  grid-area: 2 / 1 / 3 / 1;
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 2vh;
  width: 80%;
  opacity: 0;
}

.actual_work {
  opacity: 0;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  grid-area: 3 / 1 / 4 / 1;
  height: 4vh;
  font-size: 0.9rem;
  width: 40%;
  border: 1px solid black;
  background: #eeeeee;
  border-radius: 0px;
  margin-top: 7.5vh;
  padding: 0 3% 0 3%;
}

.actual_work:active {
  background: #ff6e6e;
  color: black;
}

.actual_work:hover {
  background: #f1f1f1;
  cursor: pointer;
}

.actual_work--low {
  margin-top: 2vh;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr / 1fr;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25vh;
  color: black;
}

.about .info {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  width: 100%;
}

.about .buttons {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .ilustracja_logo {
  width: 100%;
  margin-top: -15vh;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 1 / 4;
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about-headline {
  font-weight: 500;
  font-size: 3.5rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 2 / 4;
}

.about-box {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2 / 1 / 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vh;
  padding-bottom: 10vh;
}

.about-element {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15vh 1fr;
  -ms-grid-columns: 15% 1fr;
      grid-template: 15vh 1fr / 15% 1fr;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.about-element .icon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about-element h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 1 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-start;
  font-size: 2rem;
  font-weight: 400;
  margin-left: 5%;
  border: 1px solid black;
  padding: 2% 5% 2% 5%;
}

.about-element p {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
  font-size: 1.95rem;
  width: 100%;
  margin-top: 5vh;
}

.about-element hr {
  width: 100%;
  height: 1px;
  width: 100%;
  outline: none;
  border: none;
  background-color: black;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 2vh;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
}

.about-element:first-child {
  margin-right: 4%;
}

.about-element:nth-child(2) {
  margin-left: 4%;
}

.pre-karty {
  margin-left: 10%;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 4vh;
  margin-top: 5vh;
}

.karty {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr/ 1fr 1fr 1fr;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 3vh;
}

.karty h2 {
  font-weight: 300;
}

.obrazek {
  width: 100%;
  border-bottom: 1px solid black;
}

.obrazek2 {
  width: 100%;
  height: 100%;
  border-bottom: 0px solid black;
}

.reakcja {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 60% 40%;
      grid-template: 1fr / 60% 40%;
  margin-top: 1.5vh;
}

.reakcja-item:nth-child(1) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10%;
}

.reakcja-item:nth-child(2) {
  background: none;
  margin-right: 10%;
  font-size: 1.2rem;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: black;
  padding-bottom: 4%;
}

.reakcja-item:nth-child(2):hover {
  background: white;
}

.reakcja-item:nth-child(2) p {
  margin-top: 2%;
}

.element {
  border: 1px solid black;
  padding-bottom: 2vh;
}

.element:first-child {
  margin-right: 4%;
}

.element:nth-child(2) {
  margin-left: 2%;
  margin-right: 2%;
}

.element:nth-child(3) {
  margin-left: 4%;
}

.element--photo {
  border: 1px solid black;
}

.element--photo:first-child {
  margin-right: 4%;
}

.element--photo:nth-child(2) {
  margin-left: 2%;
  margin-right: 2%;
}

.element--photo:nth-child(3) {
  margin-left: 4%;
}

.naglowki {
  margin-left: 10%;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 3.5vh;
}

#projekty {
  opacity: 0;
}

.rekomendacje {
  height: 30vh;
  width: 80%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rekomendacje-element {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rekomendacje-element:nth-child(1) {
  margin-right: 1%;
}

.rekomendacje-element:nth-child(2) {
  margin-left: 1%;
}

.autor {
  width: 30%;
  border-right: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.autor img.zdjecie {
  -o-object-fit: cover;
     object-fit: cover;
  height: 60%;
  width: 100%;
  border-bottom: 1px solid black;
}

.autor p {
  margin-left: 5%;
  margin-top: 1.5vh;
}

.autor p:last-child {
  margin-top: 0;
}

.tekst {
  width: 70%;
  margin-left: 5%;
  margin-top: 3%;
  font-size: 2rem;
}

.blog {
  height: 30vh;
  width: 80%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog--element {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog--element:nth-child(1) {
  margin-right: 1%;
}

.blog--element:nth-child(2) {
  margin-left: 1%;
}

.blog--element img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-right: 1px solid black;
}

.box--blog {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.box--blog h2 {
  font-size: 1.8rem;
  line-height: 1.2;
}

.box--blog p {
  margin-top: 1.5vh;
}

.box--blog p:last-child {
  margin-top: 0;
}

.box--blog .blog--button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  border: 1px solid black;
  margin-top: 5vh;
  padding: 2% 4% 2% 4%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  color: black;
  font-size: 1.5rem;
  font-weight: 300;
}

footer a {
  text-decoration: underline;
}

footer a:hover {
  color: #0f0fad;
}

footer a:hover {
  cursor: pointer;
}

.footer_info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 30% 1fr 1fr;
      grid-template: 1fr / 30% 1fr 1fr;
  padding: 5% 0 5% 0%;
  margin-left: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_info .footer_links {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 3 / 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_info :nth-child(2) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kontakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
  margin-top: 15vh;
  margin-bottom: 20vh;
}

.kontakt h1 {
  font-size: 3.5rem;
  font-weight: 400;
}

.kontakt .kontakt_text {
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kontakt #mail {
  cursor: pointer;
}

.kontakt .mail {
  margin-top: 1vh;
  font-size: 2rem;
  border: 1px solid black;
  padding: 2% 5% 2% 5%;
  margin-bottom: 5vh;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #b6b6b6;
}

body::-webkit-scrollbar-thumb {
  background-color: #363636;
  border-radius: 100px;
  padding: 10%;
  border: 0.15rem solid #b6b6b6;
}
/*# sourceMappingURL=desk.css.map */