@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;

  background: rgb(232, 233, 222);
}

.start {
  display: flex;
  width: 100%;
  height: 20vh;
  margin-top: 15vh;

  justify-content: center;
  align-items: center;
}

.instruction {
  font-size: 2rem;
  font-weight: 100;
  display: flex;

  border: 1px solid black;
  border-radius: 0px;
  padding: 1.5% 7% 1.5% 7%;
}

.header_picture {
  opacity: 0;
  margin-top: 15vh;
  width: 70%;
  margin-left: 15%;
  z-index: 1000;
}

.name_bar {
  display: flex;
  flex-direction: column;
  height: 20vh;
  margin-top: 10vh;

  h1 {
    opacity: 0;

    line-height: 0.95;

    margin-left: 14%;
    font-size: 4rem;
    font-weight: 400;
  }

  h2 {
    opacity: 0;

    font-size: 0.8rem;
    font-weight: 400;
    background: black;
    color: white;
    margin-left: 4%;
    height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    padding: 0 5% 0 5%;
    border-radius: 0px;

    &:first-child {
      margin-left: 0;
      background: rgba(255, 255, 255, 0);
      color: black;
    }
  }


  .box {
    display: flex;
    flex-direction: row;

    margin-left: 14%;
    margin-top: 3vh;

    width: 100%;
    height: 2rem;
  }
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr / 1fr;
  width: 80%;
  margin-left: 10%;
  margin-top: 10vh;
  margin-bottom: 5vh;

  h1 {
    grid-area: 1 / 1 / 2 / 1 ;
    font-weight: 500;
    font-size: 4rem;
  }
}

.text {
  grid-area: 2 / 1 / 3 / 1 ;
  font-size: 1.7rem;
  margin-top: 4vh;
  line-height: 1.25;
  width: 100%;
}

.actual_work {
  opacity: 0;
  grid-area: 3 / 1 / 4 / 1 ;
  align-self: flex-end;
  border: 1px solid black;
  background: none;
  border-radius: 0;
  margin-top: 3vh;
  padding: 2% 5% 2% 5%;
  font-size: 1.5rem;
  background-color: white;

  &:active {
    background: rgb(72, 37, 197);
    border: 0;
    color: orange;
  }

  &--white {
    color: black;
    border: 1px solid black;
  }
  
  &--low {
    margin-top: 2vh;
  }
}

.projekty {
  display: flex;
  flex-direction: column-reverse;
  color: black;
  margin-top: -2vh;
  margin-bottom: 10vh;

  .info {
    grid-area: 1 / 1 / 1 / 1;
    margin: 0;
    width: 80%;
    margin-left: 10%;
  }

  .ilustracja_logo {
    grid-area: 2 / 1 / 3 / 1;
    width: 80%;
    justify-self: center;
    align-self: center;
  }

  h1 {
    margin-top: 0;
  }

  .buttons {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
  }
}



.pre-karty {
  margin-left: 10%;
  font-weight: 500;
  font-size: 4rem;
}

.karty {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  width: 80%;
  margin-top: 4vh;
  margin-bottom: 5vh;
}

.element {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 5vh;

  .obrazek {
    width: 100%;
    border-bottom: 1px solid black;
  }

  .reakcja {
    display: grid;
    grid-template: 1fr / 60% 40%;
    margin-left: 5%;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .reakcja-item {
    font-weight: 400;
  }
  a {
    margin-top: -0.5vh;
    margin-right: 15%;
    padding: 1% 12% 2% 12%;
    justify-self: flex-end;
    font-size: 1.3rem;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    color: black;
  }
}

.rekomendacje {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-bottom: 5vh;
}

.rekomendacje-element {
  border: 1px solid black;
  margin-top: 5vh;
  display: grid;
  grid-template: 1fr / 40% 60%;


  .autor {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;

    p {
      margin-left: 10%;
      margin-top: 1vh;

      &:nth-child(3) {
        margin-top: 0;
      }
    }
  }

  .zdjecie {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid black;
  }

  .tekst {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 7.5%;
    margin-right: 5%;
    font-size: 1.5rem;
  }

}



footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10vh;
  width: 100%;
  height: 10vh;
  font-weight: 300;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.footer_info {
  width: 80%;
  font-size: 0.75rem;
  margin-left: 10%;
}

.kontakt {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 7vh;

  h1 {
    font-size: 3rem;
    font-weight: 400;
  }
  
  .kontakt_text {
    margin-top: 2vh;
    display: flex;
  }

  #mail {
    cursor: pointer;
  }

  .mail {
    font-size: 1.5rem;
    background-color: white;
    border: 1px solid black;
    padding: 3% 5% 3% 5%;
    border-radius: 0;
    margin-top: 0vh;
    margin-bottom: 5vh;
  }

}














// SCROLLBAR

body::-webkit-scrollbar {
  width: 0.9rem;
}
 
body::-webkit-scrollbar-track {
  background: rgb(232, 233, 222);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(54, 54, 54);
  border-radius: 100px;
  padding: 10%;
  border: 0.3rem solid rgb(232, 233, 222);
}