@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;

  background: linear-gradient(45deg, rgb(255, 238, 82) 0%, rgb(216, 136, 83) 100%);
}

.start {
  display: flex;
  width: 100%;
  height: 20vh;
  margin-top: 25vh;

  justify-content: center;
  align-items: center;
}

.instruction {
  font-size: 2rem;
  font-weight: 100;
  display: flex;

  border: 1px solid black;
  border-radius: 100px;
  padding: 0 5% 0 5%;
}

.header_picture {
  position: absolute;
  opacity: 0;
  width: 70%;
  margin-left: 15%;
  z-index: 1000;
}

.name_bar {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  width: 70%;
  height: 20vh;
  margin-top: 10vh;
  margin-left: 14%;

  .logo {
    grid-area: 1 / 1 / 1 / 1;
    opacity: 0;

    justify-self: flex-start;
    align-self: flex-end;
    width: 40%;
    justify-self: center;
    align-self: center;
  }

  h1 {
    grid-area: 1 / 2 / 1 / 3;
    opacity: 0;

    line-height: 1;
    font-size: 3rem;
    font-weight: 500;
    margin-left: -8%;
  }

  h2 {
    opacity: 0;

    font-size: 0.8rem;
    font-weight: 400;
    background: black;
    color: white;
    margin-left: 3%;
    height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    padding: 0 3% 0 3%;
    border-radius: 100px;

    &:first-child {
      margin-left: 0;
      background: rgba(255, 255, 255, 0);
      color: black;
    }
  }


  .box {
    display: flex;
    flex-direction: row;
    grid-area: 2 / 1 / 3 / 3;

    justify-self: center;
    align-self: center;
    margin-left: 25%;
    margin-top: -1vh;

    width: 100%;
    height: 1.2rem;
  }
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr / 1fr;
  width: 80%;
  margin-left: 10%;
  margin-top: 40vh;
  margin-bottom: 5vh;

  h1 {
    font-family: 'poppins';
    font-weight: 800;
    opacity: 0;
    grid-area: 1 / 1 / 2 / 1 ;
    font-weight: 400;
    font-size: 4rem;
  }
}

.text {
  grid-area: 2 / 1 / 3 / 1 ;
  font-size: 1.25rem;
  margin-top: 2.5vh;
  width: 100%;
  opacity: 0;
}

.actual_work {
  opacity: 0;
  grid-area: 3 / 1 / 4 / 1 ;
  height: 3vh;
  width: 50%;
  border: 1px solid black;
  background: none;
  border-radius: 100px;
  margin-top: 5vh;
  padding: 0 2% 0 2%;

  &:active {
    background: rgb(72, 37, 197);
    border: 0;
    color: yellow;
  }

  &--white {
    color: white;
    border: 1px solid white;
  }
}

.projekty {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  background: rgb(53,0,66);
  background: linear-gradient(45deg, rgba(53,0,66,1) 0%, rgba(30,6,55,1) 100%);

  padding-top: 7vh;
  padding-bottom: 5vh;
  margin-top: 5vh;

  color: white;


  .info {
    grid-area: 1 / 1 / 2 / 3;
    margin: 0;
    width: 80%;
    margin-left: 10%;
  }

}

.mosaic {
  grid-area: 2 / 1 / 3 / 3;
  width: 80%;
  margin-left: 10%;
  margin-top: 5vh;
  align-items: center;

  grid-column-gap: 0.5rem;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr)  ;

}
.mosaic_item {
  width: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.big_title {
  font-size: 6rem;
  font-weight: 400;
  margin-left: 10%;
  margin-top: 2vh;
}

.examples {
  display: grid;
  width: 80%;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 1vh;
  margin-left: 10%;

}

.examples_item {
  border-radius: 5px;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10vh;
  width: 100%;
  height: 10vh;
  background: rgb(38, 32, 59);
  color: rgb(133, 100, 194);
}

.footer_info {
  width: 80%;
  font-size: 0.75rem;
  margin-left: 10%;
}













// SCROLLBAR

body::-webkit-scrollbar {
  width: 0.9rem;
}
 
body::-webkit-scrollbar-track {
  background: rgb(216, 136, 83);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(250, 215, 60);
  border-radius: 100px;
  padding: 10%;
  border: 0.2rem solid rgb(216, 136, 83);
}
